/* Select2 css */
@import "https://propeller.in/components/select2/css/select2.min.css";
@import "https://propeller.in/components/select2/css/select2-bootstrap.css";

/* Propeller typography */
@import "https://propeller.in/components/typography/css/typography.css";

/* Propeller text fields */
@import "https://propeller.in/components/textfield/css/textfield.css";

/* Propeller select2 */
@import "https://propeller.in/components/select2/css/pmd-select2.css";

/* Bootstrap css */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

/* Google Icon Font */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://propeller.in/components/icons/css/google-icons.css";

/* Propeller typography */
@import "https://propeller.in/components/typography/css/typography.css";

/* Propeller icons */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://propeller.in/components/icons/css/google-icons.css";

/* Propeller button */
@import "https://propeller.in/components/button/css/button.css";

/* Propeller accordion */
@import "https://propeller.in/components/accordion/css/accordion.css";

/* Proggressbar css*/
@import "https://propeller.in/components/progressbar/css/progressbar.css";


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5d8989;
    color: white;
    box-shadow: -1px -1px 10px rgb(27, 108, 126);
 }

 .c {
    cursor: pointer;
}